/* Add any CSS styles or rules here */


body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  --pico-font-family: "Playfair Display", serif;
  --pico-font-size: 3rem;
  --pico-color: rgb(10, 12, 12);
  --pico-h1-color: rgb(13, 25, 113);
  --pico-h2-color: rgb(102, 69, 220);

   
  background-color: #8680da74;
   
}
