---
import Page from "../components/Page.astro";
---

<Page title= " Chanya's Portfolio">
  <h1>
    Chanya's Portfolio
  </h1>
  <h2 data-aos="fade-left" > 
  Project Menu</h2>
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
  <h2>Introduction</h2>
  <p>Hello! I'm Chanya, a senior at Innovation Academy Charter School, and these are my projects from my APCSP Class!</p>
</Page>
